<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="javascripts/main.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Vehicle Details</h1>

<a class="nav-link" id="home" href="/dashboard">Home </a>

<br><br>
    <table id="vehicleDetails">
      <tr>
        <th>Name</th>
        <th>License Number</th>
        <th>Policy Number</th>
{{!--         <th>Date of Manufacture</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Address</th>
        <th>Date of Registration</th>
        <th>Number Plate</th> --}}
      </tr>
      {{#listings}}
      <tr class="">
        <td>{{vinNum}}</td>
        <td>{{engineNo}}</td>
        <td>{{model}}</td>
        <td>  <button class="button" id="approve" onclick="VerdictOnClaim(event,'{{Approved}}','{{model}}')">
              {{Approved}}
            </button></td>
        <td> <button class="button" id="reject" onclick="VerdictOnClaim(event,'{{Rejected}}','{{model}}')">
              {{Rejected}}
            </button></td>
        
{{!--         <td>{{dom}}</td>
        <td>{{status}}</td>
        <td>{{owner}}</td>
        <td>{{address}}</td>
        <td>{{dor}}</td>
        <td>{{numberPlate}}</td> --}}
      </tr>
      {{/listings}}
    </table>
    <style>
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* Green */
.success {
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.info {
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  color: black;
}

.default:hover {
  background: #e7e7e7;
}
</style>